@media (min-width:300px) {
    .img {
        opacity: 95%;
        background-color: #F5F5F5;
        width: 200px;
        height: 270px;
        border-bottom: 2px solid #FF6584;
        overflow: hidden;
    
    }
    .imgi {
        opacity: 95%;
        background-color: #F5F5F5;
        width: 200px;
        height: 270px;
        overflow: hidden;
    
        border-bottom: 2px solid #FF6584;
    }
    .addtocart{
        padding: 4px 55px 4px 55px;
    }
    .heading{
        font-size: 0.9rem;
    }
    .sub_head{
        padding: 30px;
        padding-bottom: 20px;
    }

}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
    .hungry{
        padding-top: 5rem; 
    padding-bottom: 1rem;
        font-size :3.5rem;
    } /*1rem = 16px*/
    .img-head{
        display: block;
        width: 350px;
        margin-left: -3rem;
    }
    .head-title{
        font-size: 2.4rem;
    font-weight: 300;
    padding-left: 7px; 
        padding-right: 7px; 
    }

    .item_imgi{
        max-width: 135%;
        max-height: 90%;
        margin-top: 18px;
        transition: all .1s ease-in;
    }
    .item_imgi:hover{
    
    max-width: 135%;
    max-height: 90%;
    margin-top: 18px;
    transform: scale(1.1);
    }
    .item_imgii{
    
    max-width: 140%;
    max-height: 200%;
        transition: all .1s ease-in;
        margin-top: 17px;
    }
    .item_imgii:hover{
    
    max-width: 140%;
    max-height: 200%;
    transform: scale(1.1);
        margin-top: 17px;
    }
    .item_imgiii{
    
    max-width: 138%;
    max-height: 100%;
        transition: all .1s ease-in;
        margin-top: 12px;
    }
    .item_imgiii:hover{
    
    max-width: 138%;
    max-height: 100%;
    transform: scale(1.1);
        margin-top: 12px;
    }
    .item_imgiiii{
    
        max-width: 121%;
        max-height: 90%;
        transition: all .1s ease-in;
        margin-top: 31px;
    }
    .item_imgiiii:hover{
    
    max-width: 121%;
    max-height: 90%;
    transform: scale(1.1);
    margin-top: 31px;
    }
    .item_imgiiiii{
    
    max-width: 135%;
    max-height: 120%;
        transition: all .1s ease-in;
        margin-top: 12px;
    }
    .item_imgiiiii:hover{
    
    max-width: 135%;
    max-height: 120%;
    transform: scale(1.1);
        margin-top: 12px;
    }
    .item_imgiiiiii{
    
    max-width: 140%;
    max-height: 100%;
        transition: all .1s ease-in;
        margin-top: 18px;
    }
    .item_imgiiiiii:hover{
    
    max-width: 140%;
    max-height: 100%;
        transform: scale(1.1);
        margin-top: 18px;
    }

    .img {
        opacity: 95%;
        background-color: #F5F5F5;
        width: 210px;
        height: 270px;
        border-bottom: 2px solid #FF6584;
        overflow: hidden;
    
    }
    .imgi {
        opacity: 95%;
        background-color: #F5F5F5;
        width: 210px;
        height: 270px;
        overflow: hidden;
    
        border-bottom: 2px solid #FF6584;
    }
    .addtocart{
        padding: 6px 62px 6px 65px;
    }
    .heading{
        font-size: 0.9rem;
    }
    .sub_head{
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
.hungry{
    padding-top: 3rem; 
    font-size : 2rem;
} /*1rem = 16px*/
.header-text{
    margin-top: -1rem;
    font-size: 0.9rem ;
}
.img-head{
    display: block;
    width: 400px;
    margin-left: -5rem;
}
.head-title{
    font-size: 3rem;
    font-weight: 300;
    padding-left: 7px; 
    padding-right: 7px; 
}
.item_imgi{
    max-width: 135%;
    max-height: 90%;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
    transform: scale(1.1);
    margin-top: 18px;
}
.img {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 225px;
    height: 270px;
    border-bottom: 2px solid #FF6584;
    overflow: hidden;

}
.imgi {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 225px;
    height: 270px;
    overflow: hidden;

    border-bottom: 2px solid #FF6584;
}
.addtocart{
    padding: 6px 68px 6px 68px;
}
.heading{
    font-size: 1rem;
}
.sub_head{
    padding-top: 30px;
    padding-bottom: 30px;
}
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {     
.hungry {font-size:3rem;} /*1rem = 16px*/
.img-head{
    display: block;
    width: 550px;
    margin-left: -8rem;
}
.head-title{
    font-weight: 300;
    font-size: 1.9rem;
}
.item_imgi{
    max-width: 135%;
    max-height: 90%;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
    transform: scale(1.1);
    margin-top: 18px;
}
.cart_title{
    margin-left: 4rem;
    font-size: 1.5rem;
}
.cart_donut{
    width: 35px;
}
.line1{
    width:250px;
}
.line2{
    width:250px;
}
.happy{
    margin-left: 3.7rem;
    margin-top: -10px;
    width:180px;
}

.emp{
    font-family: montserrat alternates;
    opacity: 75%;
    margin-left: 6rem;
    margin-top: -20px;
    font-size: 1rem;
    color: #787878;
} 
.img {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 225px;
    height: 270px;
    border-bottom: 2px solid #FF6584;
    overflow: hidden;

}
.imgi {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 225px;
    height: 270px;
    overflow: hidden;

    border-bottom: 2px solid #FF6584;
}
.title_cart{
    font-size: 1.3rem;
    margin-left: 2rem;
}
.side_text{
    font-size: 0.7rem;
    margin-left: 2rem;
}
.red{
    font-size: 0.5rem;
    margin-left: 2rem;
}
.heading{
    font-size: 1.5rem;
}
.item_space{
    margin-left: -2rem;
}
.ac_item{
    font-size: 0.9rem;
}
.ava_text{
    font-size: 0.8rem;
}
.ac_quan{
    margin-top: -0.3rem;
    margin-left: -20px;
}
.quan-txt{
    font-size: 0.7rem;
}
.cost{
    font-size: 0.8rem;
    margin-top: 7px;
    margin-left: -50px;
}
button.pur_button{
font-size: 0.6rem;
}
div.total_price{
    margin-left:2rem;
    margin-top: 28px;
    font-size: 1rem;
}
.close{
    margin-left: -5px;
    margin-top: 2px;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.hungry {
    font-size:4rem;
    font-weight: 900;
} /*1rem = 16px*/
.img-head{
    display: block;
    width: 670px;
    margin-left: -10rem;
}
.head-title{
    font-size: 2.1rem;
    font-weight: 300;
    padding-left: 7px; 
    padding-right: 7px; 
}
.item_imgi{
    max-width: 135%;
    max-height: 90%;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
    transform: scale(1.1);
    margin-top: 18px;
}
.cart_title{
    margin-left: 4rem;
}

.line1{
    width:300px;
}
.line2{
    width:300px;
}
.happy{
    margin-left: 3.2rem;
    margin-top: -10px;
    width:200px;
}

.emp{
    font-family: montserrat alternates;
    opacity: 75%;
    margin-left: 5rem;
    margin-top: -20px;
    font-size: 1.2rem;
    color: #787878;
}
.img {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 230px;
    height: 270px;
    border-bottom: 2px solid #FF6584;
    overflow: hidden;

}
.imgi {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 230px;
    height: 270px;
    overflow: hidden;

    border-bottom: 2px solid #FF6584;
}
.title_cart{
    font-size: 1.3rem;
    margin-left: -2rem;
}
.side_text{
    font-size: 0.6rem;
    margin-left: -1rem;
}
.red{
    font-size: 0.6rem;
    margin-left: -1rem;
}
.heading{
    font-size: 1.5rem;
}
.item_space{
    margin-left: -3rem;
}
.ac_item{
    font-size: 0.9rem;
}
.ava_text{
    font-size: 0.8rem;
}
.ac_quan{
    margin-top: -0.3rem;
    margin-left: -20px;
}
.quan-txt{
    font-size: 0.7rem;
}
.cost{
    font-size: 0.8rem;
    margin-top: 8px;
    margin-left: -70px;
}
.close{
    margin-top: 3px;
    margin-left: -3rem;
}
button.pur_button{
font-size: 0.6rem;
margin-left: 1.5rem;
}
div.total_price{
    font-size: 1rem;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.hungry {
    padding: 0rem; 
    font-size:5rem;
    font-weight: 900;
} 
.img-head{
    display: block;
    width: 700px;
    margin-left: -9rem;
}
.header-text{
    margin-top: 0.2rem;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
.head-title{
    font-size: 2.5rem;
    font-weight: 300;
    padding-left: 7px; 
    padding-right: 7px; 
}
.item_imgi{
    max-width: 135%;
    max-height: 90%;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
    transform: scale(1.1);
    margin-top: 18px;
}
.cart_title{
margin-left: 8rem;
font-size: 2rem;

}
.cart_donut{
    width: 55px;
}

.line1{
    width:450px;
}
.line2{
    width:450px;
}
.happy{
    margin-left: 7rem;
    margin-top: -10px;
    width:250px;
}

.emp{
    font-family: montserrat alternates;
    opacity: 75%;
    margin-left: 9.3rem;
    margin-top: -20px;
    font-size: 1.5rem;
    color: #787878;
}
.img {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 235px;
    height: 270px;
    border-bottom: 2px solid #FF6584;
    overflow: hidden;

}
.imgi {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 235px;
    height: 270px;
    overflow: hidden;

    border-bottom: 2px solid #FF6584;
}
.addtocart{
    padding: 6px 72px 6px 72px;
}
.title_cart{
    font-size: 2rem;
    margin-left: 5rem;
}
.side_text{
    font-size: 0.7rem;
    margin-left: 5rem;
}
.red{
    font-size: 0.7rem;
    margin-left: 5rem;
}
.heading{
    font-size: 1.5rem;
}
.item_space{
    margin-left: 0.1rem;
}
.ac_item{
    font-size: 1.3rem;
}
.ava_text{
    font-size: 0.9rem;
}
.ac_quan{
    margin-top: -1px;
    margin-left: -30px;
}
.quan-txt{
    font-size: 0.8rem;
}
.cost{
    font-size: 1rem;
    margin-top: -3px;
    margin-left: -50px;
}
button.pur_button{
font-size: 0.9rem;
margin-left: 3rem;
}
div.total_price{
    margin-left:3rem;
    margin-top: 28px;
    font-size: 1.5rem;
}
.close{
    margin-left: 5px;
    margin-top: -7px;
}
}
@media screen and (min-width: 544px) and (max-width:575px) {
    .hungry{
        padding-top: 5rem; 
    padding-bottom: 1.5rem;
        font-size :3.2rem;
    } /*1rem = 16px*/
    .header-text{
        font-size: 1.2rem;
    }
}
