*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.jumbotron {
    position: relative;
    background: #1A1A1D;
    overflow: hidden;
}
.jumbotron:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-image: url('/img/ss.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


li.nav-item{
    padding: 0rem 0.5rem 0rem 0.5rem;
}

li.nav-items {
    padding: 0rem -0.5rem 0rem -0.5rem;
}


.img-head{
    margin-left: -7rem;
} 

.hungry{
    font-size:2.5rem;
    font-family: Montserrat Alternates;
    color: #ffffff;
    padding-top: 5rem;
    text-align: justify;
    user-select: none;
    padding-bottom: 1.5rem;
    letter-spacing: 0.03em;
    font-weight: 800;
}


.header-text{
    font-family: Montserrat Alternates;
    font-weight: 400;
    color: #D9D7D7;
    user-select: none;
    letter-spacing: 0.07em;
    margin-left: 4px;
}

span.vanilla{
    color: #FF6584;
    cursor: pointer;
}

.title {
    z-index: 1;
    font-family: 'Montserrat';
    letter-spacing: -0.10em;
    color: #f3f0f0;
    font-weight: 100;
    user-select: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.sider{
    cursor: pointer;
    color: #f3f0f0;
    letter-spacing: 0.07em;
    font-family: 'Montserrat Alternates';
}

.buy{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0 !important;
        text-decoration: none;
    font-family: montserrat alternates;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border-radius: 253px;
    background: none;
    border: solid 2px whitesmoke;
    color: whitesmoke;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.explore{
    font-family: montserrat alternates;
    font-weight: 400;
    padding: 10px 22px 10px 22px;
    outline: 0 !important;

    border-radius: 253px;
    border: none;
    outline: none;
    user-select: none;
    margin-left: 2px;
    color: white;
    background: linear-gradient(310.89deg, #EB4C72 43.94%, #F286AE 91.88%);
    letter-spacing: 0.7px;
    cursor: pointer;
}

.bt {
    margin-right: 1rem;
    margin-top: 1rem;
}

.head-title{
    font-family: montserrat alternates;
    text-align: center;
    font-size: 2.5rem;
    user-select: none;
    user-select: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}

.filter{
    user-select: none;
    display: flex;
    margin-left: -2rem;
    margin-bottom: 1.5rem;
    
}

.bu{
    font-family: montserrat alternates;
    font-weight: 500;
    padding: 5px 22px 5px 22px;
    outline: 0 !important;

    border-radius: 253px;
    background: #373737;
    border: none;
    color: white;
    letter-spacing: 0.7px;
    cursor: pointer;
}


.item_below {
    opacity: 95%;
}
.details {
    user-select: none;
    display: flex;
    padding-bottom: 0.3rem;
}
.item_name {
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.price_tag {
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.add_cart {
    user-select: none;
}
.addtocart {
    font-family: montserrat;
    font-weight: 300;
    letter-spacing: 0.08em;
    padding: 6px 70px 6px 70px;
    background-color: #1A1A1D;
    border: none;
    color: white;
    cursor: pointer;
}



.item_imgi{
    max-width: 135%;
    max-height: 90%;
    margin-left: -45px;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-left: -45px;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
margin-left: -45px;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
margin-left: -45px;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
margin-left: -53px;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
margin-left: -53px;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    margin-left: -32px;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
margin-left: -32px;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
margin-left: -50px;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
margin-left: -50px;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
margin-left: -45px;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
margin-left: -45px;
    transform: scale(1.1);
    margin-top: 18px;
}
.acitems{
    overflow: hidden;
}
.img{
    margin-top: 3rem;
}

.line{
    border-left: 1px solid #FF6584;
    height: 1080px;
    user-select: none;
    opacity: 20%;
}


.cart_title{
    font-family: montserrat alternates;
    font-weight: 400;
    font-size: 2rem;
    display: flex;  
    letter-spacing: -1px;
    color: #1A1A1D;
    margin-top: 2.5rem;
    margin-left: 7rem;
    opacity: 80%;
    user-select: none;
}
.cart_donut{
    width: 55px;
}
.cart{
    margin-left: 9px;
}
.your{
    margin-right: 10px;
}

.line1{
    margin-top: 15px;
    border-top: 1px solid #FF6584;  
    width: 400px;
    overflow: hidden;
}

.line2{
    margin-top: 45px;
    border-top: 1px solid #FF6584;  
    width: 400px;
    overflow: hidden;
}

.emp{
    font-family: montserrat alternates;
    opacity: 75%;
    color: #787878;
}

.title_cart{
    z-index: 1;
    font-family: 'Montserrat';
    letter-spacing: -0.12em;
    color: #000000;
    text-align: center;
    font-size: 2rem;
    opacity: 80%;
    font-weight: 300;
    margin-top: 45px;
    user-select: none;
    cursor: pointer;
}

.side_text{
    font-family: montserrat;
    letter-spacing: 0.14em;
    line-height: 22px;
    font-size: 0.9rem;
    opacity: 90%;
    user-select: none;
    color: gray;
    text-align: justify;
}
.red{
    font-family: montserrat;
    letter-spacing: 0.18em;
    font-size: 0.8rem;
    line-height: 20px;
    text-decoration: underline;
    color: #FF6584;
    opacity: 95%;
    margin-top: 19px;
    cursor: pointer;
    text-align: justify;
}

.scroll{
    display: flex;
    justify-content: center;
    opacity: 70%;
    margin-top: 40px;
    margin-bottom: 80px;
}
.page1{
    user-select: none;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    font-family: 'Balsamiq Sans', cursive;
}
.page1:hover{
    color: #FF6584;
}
.page2{
    user-select: none;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    color: #FF6584;
    font-family: 'Balsamiq Sans', cursive;
}
.page3{
    user-select: none;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    font-family: 'Balsamiq Sans', cursive;
}
.page3:hover{
    color: #FF6584;
}
.page4{
    user-select: none;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    font-family: 'Balsamiq Sans', cursive;
}
.page4:hover{
    color: #FF6584;
}

.third{
    border-bottom: 3px solid #FF6584;
    margin-bottom: 70px;
    user-select: none;
}
.sub_head{
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: #1A1A1D;
    color: white;
    text-align: center;
    
}

.heading{
    font-family: montserrat;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.sub_heading{
    margin-top: 8px;
    font-family: montserrat;
    font-weight: 300;
}

span{
    color: #FF6584;
    cursor: pointer;
    font-weight: 600;
}