*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    
}

.jumbotron {
    position: relative;
    background: #1A1A1D;
}
.jumbotron:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-image: url('img/ss.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


li.nav-item{
    padding: 0rem 0.5rem 0rem 0.5rem;
}

li.nav-items {
    padding: 0rem -0.5rem 0rem -0.5rem;
}


.img-head{
    margin-left: -7rem;
} 

.hungry{
    font-size:2.5rem;
    font-family: Montserrat Alternates;
    color: #ffffff;
    padding-top: 5rem;
    text-align: justify;
    padding-bottom: 1.5rem;
    letter-spacing: 0.03em;
    font-weight: 800;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
    .hungry{
        padding-top: 5rem; 
    padding-bottom: 1.5rem;
        font-size : 3.5rem;
    } /*1rem = 16px*/
    .img-head{
        display: block;
        width: 350px;
        margin-left: -3rem;
    }
    }
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
.hungry{
    padding-top: 3rem; 
    font-size : 2.2rem;
} /*1rem = 16px*/
.img-head{
    display: block;
    width: 350px;
    margin-left: -4rem;
}
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.hungry {font-size:3rem;} /*1rem = 16px*/
.img-head{
    display: block;
    width: 400px;
    margin-left: -5rem;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.hungry {
    font-size:4rem;
    font-weight: 900;
} /*1rem = 16px*/
.img-head{
    display: block;
    width: 500px;
    margin-left: -4rem;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.hungry {
    padding: 0rem; 
    font-size:5rem;
    font-weight: 900;
} 
.img-head{
    display: block;
    width: 750px;
    margin-left: -9rem;
}
}


.header-text{
    font-family: Montserrat Alternates;
    font-weight: 400;
    color: #D9D7D7;
    letter-spacing: 0.07em;
    margin-left: 4px;
}

span.vanilla{
    color: #FF6584;
    cursor: pointer;
}

.title {
    z-index: 1;
    font-family: 'Montserrat';
    letter-spacing: -0.10em;
    color: #f3f0f0;
    font-weight: 100;
    user-select: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.sider{
    cursor: pointer;
    color: #f3f0f0;
    letter-spacing: 0.07em;
    font-family: 'Montserrat Alternates';
}

.buy{
    font-family: montserrat alternates;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border-radius: 253px;
    background: none;
    border: solid 2px whitesmoke;
    color: whitesmoke;
    letter-spacing: 0.7px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.explore{
    font-family: montserrat alternates;
    font-weight: 400;
    padding: 10px 22px 10px 22px;
    border-radius: 253px;
    border: none;
    outline: none;
    user-select: none;
    margin-left: 2px;
    color: white;
    background: linear-gradient(310.89deg, #EB4C72 43.94%, #F286AE 91.88%);
    letter-spacing: 0.7px;
    cursor: pointer;
}

.bt {
    margin-right: 1rem;
    margin-top: 1rem;
}

.head-title{
    font-family: montserrat alternates;
    text-align: center;
    font-size: 2.5rem;
    user-select: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}

.head-title-sm{
    font-family: montserrat alternates;
    text-align: center;
    font-size: 2rem;
    user-select: none;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 300;
    margin: 1rem;
}

.filter{
    user-select: none;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.bu{
    font-family: montserrat alternates;
    font-weight: 500;
    padding: 5px 22px 5px 22px;
    border-radius: 253px;
    background: #373737;
    border: none;
    color: white;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.whole{
    padding: 1rem;
}

.img {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 230px;
    height: 270px;
    border-bottom: 2px solid #FF6584;
    overflow: hidden;

}
.imgi {
    opacity: 95%;
    background-color: #F5F5F5;
    width: 230px;
    height: 270px;
    overflow: hidden;

    border-bottom: 2px solid #FF6584;
}

.item_below {
    opacity: 95%;
}
.details {
    user-select: none;
    display: flex;
}
.item_name {
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.price_tag {
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.add_cart {
    user-select: none;
    display: flex;
}
.addtocart {
    font-family: montserrat;
    font-weight: 300;
    letter-spacing: 0.08em;
    padding: 6px 72px 6px 72px;
    background-color: #1A1A1D;
    border: none;
    color: white;
    cursor: pointer;
}



.item_imgi{
    
    max-width: 135%;
    max-height: 90%;
    margin-left: -45px;
    margin-top: 18px;
    transition: all .1s ease-in;
}
.item_imgi:hover{

max-width: 135%;
max-height: 90%;
margin-left: -45px;
margin-top: 18px;
transform: scale(1.1);
}
.item_imgii{

max-width: 140%;
max-height: 200%;
margin-left: -45px;
    transition: all .1s ease-in;
    margin-top: 17px;
}
.item_imgii:hover{

max-width: 140%;
max-height: 200%;
margin-left: -45px;
transform: scale(1.1);
    margin-top: 17px;
}
.item_imgiii{

max-width: 138%;
max-height: 100%;
margin-left: -53px;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiii:hover{

max-width: 138%;
max-height: 100%;
margin-left: -53px;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiii{

    max-width: 121%;
    max-height: 90%;
    margin-left: -32px;
    transition: all .1s ease-in;
    margin-top: 31px;
}
.item_imgiiii:hover{

max-width: 121%;
max-height: 90%;
margin-left: -32px;
transform: scale(1.1);
margin-top: 31px;
}
.item_imgiiiii{

max-width: 135%;
max-height: 120%;
margin-left: -50px;
    transition: all .1s ease-in;
    margin-top: 12px;
}
.item_imgiiiii:hover{

max-width: 135%;
max-height: 120%;
margin-left: -50px;
transform: scale(1.1);
    margin-top: 12px;
}
.item_imgiiiiii{

max-width: 140%;
max-height: 100%;
margin-left: -45px;
    transition: all .1s ease-in;
    margin-top: 18px;
}
.item_imgiiiiii:hover{

max-width: 140%;
max-height: 100%;
margin-left: -45px;
    transform: scale(1.1);
    margin-top: 18px;
}
.acitems{
    overflow: hidden;

}